apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: cs-service
  name: cs-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: cs-service
  template:
    metadata:
      labels:
        service: cs-service
    spec:
      containers:
      - image: cs
        name: cs-service
        env:
        - name: NATS_ADDRESS
          value: {{ NATS_ADDRESS }}
      restartPolicy: Always
status: {}
