apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: pleo
  name: pleo
spec:
  replicas: 1
  selector:
    matchLabels:
      service: pleo
  template:
    metadata:
      labels:
        service: pleo
    spec:
      containers:
        - image: pleo
          name: pleo
          env:
          - name: NATS_ADDRESS
            value: {{ NATS_ADDRESS }}
          - name: KEYCLOAK_URL
            valueFrom:
              configMapKeyRef:
                optional: true
                key: KEYCLOAK_URL
                name: keycloak-config
          - name: ADMIN_KUBECONFIG
            value: {{ ADMIN_KUBECONFIG }}
