apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: phylax-service
  name: phylax-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: phylax-service
  template:
    metadata:
      labels:
        service: phylax-service
    spec:
      containers:
        - image: phylax
          name: phylax-service
          env:
          - name: MONGODB_ADDRESS
            valueFrom:
              configMapKeyRef:
                name: db-config
                key: mongodb.address
          - name: MONGODB_DB_NAME
            valueFrom:
              configMapKeyRef:
                name: db-config
                key: mongodb.db_name
          - name: MONGODB_COLLECTION_NAME
            value: phylax
          - name: NATS_ADDRESS
            value: {{ NATS_ADDRESS }}
