error_log stderr notice;

worker_processes auto;
events {
  multi_accept on;
  use epoll;
  worker_connections 1025;
}

stream {
  upstream server_nodes_6443 {
    server {{ CACAO_SERVICE_CONTEXT }}-server-0:6443 max_fails=1 fail_timeout=10s;
  }

  server {
    listen        6443;
    proxy_pass    server_nodes_6443;
    proxy_timeout {{ K3D_SERVICE_CLUSTER_PROXY_TIMEOUT }};
    proxy_connect_timeout 2s;
  }
}
