apiVersion: v1
kind: ConfigMap
metadata:
  name: efk-config
  namespace: cacao-logging
data:
  fluentd-cacao.conf: |+
    # This should go into /fluentd/etc/conf.d/fluentd-cacao.conf
    <source>
      @type tail
      path {{ WIRETAP_LOG_DIR | default('/var/log/cacao-wiretap') }}/*.log
      pos_file /var/log/cacao-wiretap.pos
      tag cacao
      <parse>
        @type json
      </parse>
    </source>
---
apiVersion: v1
kind: Secret
metadata:
  name: efk-secrets
  namespace: cacao-logging
type: Opaque
data:
  es.password: {{ EFK_PASSWORD | b64encode }}
