kind: Service
apiVersion: v1
metadata:
  name: elasticsearch
  namespace: cacao-logging
  labels:
    app: elasticsearch
spec:
  selector:
    app: elasticsearch
  clusterIP: None
  ports:
    - port: 9200
      name: rest
    - port: 9300
      name: inter-node
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: es-cluster
  namespace: cacao-logging
spec:
  serviceName: elasticsearch
  replicas: {{ EFK_ES_REPLICAS}}
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:{{ EFK_ES_KIBANA_VERSION }}
        resources:
            limits:
              cpu: 1000m
            requests:
              cpu: 100m
        ports:
        - containerPort: 9200
          name: rest
          protocol: TCP
        - containerPort: 9300
          name: inter-node
          protocol: TCP
        volumeMounts:
        - name: es-data
          mountPath: /usr/share/elasticsearch/data
        env:
          - name: cluster.name
            value: cacao-es-cluster
          - name: node.name
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: xpack.security.enabled
            value: "true"
          - name: ELASTIC_PASSWORD
            valueFrom:
              secretKeyRef:
                name: efk-secrets
                key: es.password
{% set seed_hosts = ["es-cluster-0.elasticsearch"] %}
{% set master_nodes = ["es-cluster-0"] %}
{% for n in range(1, EFK_ES_REPLICAS) %}
{{   seed_hosts.append(",es-cluster-" + n|string + ".elasticsearch") }}
{{    master_nodes.append(",es-cluster-" + n|string) }}
{% endfor %}
          - name: discovery.seed_hosts
            value: {{ seed_hosts|join }}
          - name: cluster.initial_master_nodes
            value: {{ master_nodes|join }}
          - name: ES_JAVA_OPTS
            value: "-Xms512m -Xmx512m"
      initContainers:
      - name: fix-permissions
        image: busybox
        command: ["sh", "-c", "chown -R 1000:1000 /usr/share/elasticsearch/data"]
        securityContext:
          privileged: true
        volumeMounts:
        - name: es-data
          mountPath: /usr/share/elasticsearch/data
      - name: increase-vm-max-map
        image: busybox
        command: ["sysctl", "-w", "vm.max_map_count=262144"]
        securityContext:
          privileged: true
      - name: increase-fd-ulimit
        image: busybox
        command: ["sh", "-c", "ulimit -n 65536"]
        securityContext:
          privileged: true
{% if LOCAL_PATH_PROVISIONER_ENABLE is defined and LOCAL_PATH_PROVISIONER_ES_ENABLE is defined and LOCAL_PATH_PROVISIONER_ENABLE|bool and LOCAL_PATH_PROVISIONER_ES_ENABLE|bool %}
      volumes:
        - name: es-data
          persistentVolumeClaim:
            claimName: es-data-local-path-pvc
{% else %}
      volumes:
        - name: es-data
          emptyDir: {}
{% endif %}