apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: es-data-local-path-pvc
  namespace: cacao-logging
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: {{LOCAL_PATH_PROVISIONER_ES_SIZE}}