# This definition is for /kibana
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kibana-ingress
  namespace: cacao-logging
  annotations:
    # nginx.ingress.kubernetes.io/whitelist-source-range: w.x.y.z/32
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$1
{% if SSL_REDIRECT %}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
{% endif %}
spec:
{% if not IS_DEV_ENVIRONMENT %}
  tls:
   - hosts:
     - '{{ API_DOMAIN }}'
     secretName: {{ TLS_SECRET_NAME }}
{% endif %}
  rules:
{% if IS_DEV_ENVIRONMENT %}
  - http:
{% else %}
  - host: '{{ API_DOMAIN }}'
    http:
{% endif %}
      paths:
      - path: {{ EFK_KIBANA_BASE_PATH }}/(.*)
        pathType: Prefix
        backend:
          service:
            name: kibana
            port:
              number: 5601
